@import './../../variables.scss';

.intro {
    position: relative;
    background-color: $main-blue;
}

.intro_wrapper {
    display: grid;
    position: relative;
    z-index: 2;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 120px 15px;
}

.intro_text_block {
    text-align: left;

    > p:first-child {
        font-weight: 500;
        color: lighten($main-blue, 30%);
        margin-bottom: 15px;
    }

    > p:last-child {
        font-size: 24px;
        font-weight: 500;
    }

    h1 {
        font-size: 62px;
        line-height: 70px;
        margin-bottom: 40px;
    }
}

.variable_text_block {
    display: flex;
    position: relative;
    padding-right: 230px;
    width: fit-content;
    text-align: left;
}

.intro_static {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.list_of_types {
    margin-left: 5px;

    .type {
        $time: 13s;
        $items: 7;
        font-size: 28px;
        font-weight: bold;
        padding-left: 5px;
        color: $main-orange;
        text-transform: lowercase;
        position: absolute;
        opacity: 0;
        white-space: nowrap;
        animation: $time word-rotation infinite;

        @for $i from 1 through $items {
            &:nth-child(#{$i}) {
                animation-delay: ($time / $items) * ($i - 1);
            }
        }
    }
}

.intro_order_block {
    background-color: darken($main-blue, 10%);
    border-radius: 10px;
    padding: 40px;
    height: fit-content;

    p {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 50px;

        span {
            color: $main-orange;
        }
    }

    button {
        padding: 15px;
        border: none;
        border-radius: 5px;
        background-color: $bt_red;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: $animation;

        &:hover {
            background-color: darken($bt_red, 20%);
        }
    }
}

@media (max-width: $tablet) {
    .intro_wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 50px 20px;
    }

    .intro_text_block {
        > p:first-child {
            font-size: clamp(16px, 2vw, 24px);
        }

        > p:last-child {
            font-size: clamp(26px, 3.5vw, 32px);
            font-weight: 500;
        }
    
        h1 {
            font-size: clamp(62px, 8vw, 72px);
            line-height: 70px;
            margin-bottom: 40px;
        }
    }

    .intro_order_block {
        width: fit-content;
        margin: 0 auto;
    }
}

@media (max-width: $mobile) {
    .intro_text_block {
        > p:first-child {
            font-size: clamp(12px, 2.5vw, 24px);
        }

        > p:last-child {
            font-size: clamp(11px, 3.5vw, 24px);
        }
    
        h1 {
            font-size: clamp(28px, 6vw, 62px);
            line-height: 40px;
            margin-bottom: 15px;
        }
    }

    .intro_order_block {
        width: 100%;
    }

    .variable_text_block {
        padding-right: 20px;
    }

    .intro_static {
        font-size: clamp(14px, 4.5vw, 32px);
        margin-bottom: 10px;
    }
    
    .list_of_types {
        margin-left: 2px;
    
        .type {
            font-size: clamp(14px, 4.5vw, 32px);
            padding-left: 2px;
        }
    }
}


@keyframes word-rotation {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    5% {
        opacity: 1;
        transform: translateY(0);
    }
    15% {
        opacity: 1;
        transform: translateY(0);
    }
    20% {
        opacity: 0;
        transform: translateY(25px);
    }
}