@import './../../variables.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    font-weight: bold;
    text-transform: uppercase;

    > nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.logo {
    color: red;
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > li {
        display: flex;
        align-items: center;

        a {
            padding: 10px;
            transition: $animation;
        }

        a:hover {
            color: $main-orange;
            transition: $animation;
        }
    }
}

.list_contacts {
    display: flex;
    transition: $animation;

    > li {
        display: flex;
        align-items: center;
    }

    a {
        display: flex;
        align-items: center;
        transition: $animation;
        padding: 10px;

        svg {
            margin-right: 5px;
        }
    }

    a:hover {
        color: $bt_red;
        transition: $animation;
    }
}

@media (max-width: $tablet) {
    .list_contacts {
        a p {
            display: none;
        }

        a svg {
            margin-right: 0;
        }
    }
}

// @media (max-width: $mobile) {
//     .list {
//         display: none;
//     }
// }