@import './variables.scss';

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;

    > main {
        flex-grow: 1;
        background-color: $main-orange;
        text-align: center;
    }

    > header,
    > footer {
        background-color: $main-blue;
        text-align: center;
        line-height: 50px;
    }
}

.App_header {
    position: fixed;
    width: 100%;
}

.App_container {
    max-width: $desktop;
    min-width: 320px;
    margin: 0 auto;
}

@media (max-width: $tablet) {
    .App_container {
        max-width: 960px;
    }
}

@media (max-width: $mobile) {
    .App_container {
        max-width: 100%;
    }
}